<mat-card class="detail-container">
 
    <div class="inner-container">
    <h2>{{ employee.firstName | uppercase }} Details</h2>
    <div><b>Id:</b> {{ employee.employeeId }}</div>
    <div><b>LDAP:</b> {{employee.employeeCode}}</div>
    <div><b>Name:</b> {{ employee.firstName }}</div>
    <div><b>Surname:</b> {{ employee.lastName }}</div>
    <div><b>Department Code:</b>{{ employee.departmentCode}}</div>
    <div><b>Department Description: </b> {{employee.departmentDescription}}</div>
    <div><b>Role: </b> </div>
    <div><b>Manager:</b> <br/>
      <ul>
        <li><b>Id:</b> {{employee.manager.employeeId}}</li>
        <li> <b>Name:</b> {{employee.manager.firstName}}</li>
      </ul>
    </div>
    <!--<div *ngIf="employee.employeeDepartmentsList"><b>Store:</b>
    <ul>
      <li><b>Id:</b> {{}}</li>
      <li><b>Name:</b> {{finalEmployee.store.store_name}}</li>
      <li><b>Company Initials: </b> {{finalEmployee.store.company_initials}}</li>
      <li><b>Country: </b> {{finalEmployee.store.country}}</li>
    </ul>
    </div> -->
    <div><b>Email:</b> {{employee.email}}</div>
    <div><b>Mobile: </b> {{employee.phoneNumber}}</div>
  
    <div class="nav-buttons">
      <button (click)="goBack()" class="back">go back</button>
      <button class="edit" routerLink="/edit/{{employee.employeeId}}">Edit</button>
      <button class="remove">Remove</button>
    </div>
  </div>
  </mat-card>
  