<div *ngIf="finalEmployees" class="container">
  
  <br/>
    
    <caption> List of Employees</caption>
    <div class="table-container">
    <table >
      <tr>
        <th>ID</th>
        <th>SURNAME</th>
        <th>NAME</th>
        <th>START DATE</th>
        <th>END DATE</th>
        <th>ROLE</th>
        <th>DEPT ID</th>
        <th>DEPT NAME</th>
        <th>COMPANY INITIALS</th>
        <th>COUNTRY</th>
        <th>STORE ID</th>
        <th>STORE NAME</th>
        <th>MANAGER ID</th>
        <th>EMAIL</th>
        <th>MOBILE NO.</th>
      </tr>
      
      <tr *ngFor="let employee of finalEmployees" routerLink="/detail/{{employee.id}}">

        <td> {{employee.id}}</td>
        <td> {{employee.name}}</td>
        <td> {{employee.surname}}</td>
        
        <td>{{employee.start_date}}</td>
        <td>{{employee.end_date}}</td>
        <td>{{employee.role}}</td>

        <td>{{employee.department[0].dept_id}}</td>
        <td>{{employee.department[0].dept_name}}</td>
        <td>{{employee.store.company_initials}}</td>

        <td>{{employee.store.country}}</td>
        <td>{{employee.store.store_id}}</td>
        <td>{{employee.store.store_name}}</td>
        <td>{{employee.manager_id}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.mobile}}</td>
      
      </tr>
    
    </table>
  </div>

  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner> 
    
  <div class="btn-div">
  <button mat-flat-button class="export-button" (click)="exportTable()">
    <mat-icon>download</mat-icon>
    Export Table
  </button>
</div>
</div>

