
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-form-field.search-field {
  width: 30%;
  padding-left: 30%;
  color: blue;
  margin: 5px 5px -15px 230px;
}

.container caption {
  font-size: large;
  margin: 10px;
}
.table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
  box-shadow: 5px 5px 10px rgba(100, 94, 94, 0.14);
}
table {
  border-radius: 10px;
}
table, th, td {
  width: 100%;
  border-collapse: collapse;
  padding: 0 5px;

}

th, td {
  padding: 0.25rem;
}

th {
  text-align: left;
  background-color: burlywood;
  position: sticky;
  top: 0;
}

td {
  text-decoration: none;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {
  background: rgba(216, 205, 191, 0.764);
}
button {
  border-radius: 5px;
  background-color: #af9d4c; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

button:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #af9d4c;
}

.btn-div {
margin-left: auto;
margin-right: auto;
top: 0;
padding-top: 3em;
}

.mat-flat-button.export-button {
  border-radius: 3px;
  background-color: orangered;
  border: none;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 6px 0;
}

.mat-flat-button.export-button:hover {
  color: orangered;
  background-color: white;
  border-radius: 2px solid orangered;
  margin: 4px 0;
  align-items: center;

}