
.table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
  box-shadow: 5px 5px 10px rgba(100, 94, 94, 0.14);
}
table {
  border-radius: 10px;
}
table, th, td {
  width: 100%;
  border-collapse: collapse;
  padding: 0 5px;

}



th {
  text-align: left;
  background-color: burlywood;
}

td {
  text-decoration: none;
}

tr:nth-child(even) {background-color: #f2f2f2;}


button {
  border-radius: 5px;
  background-color: #af9d4c; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

button:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #af9d4c;
}