<div class="add-container">

    <div>
        <h3>Employee Information</h3>
        <span>insert employee information below</span>
    </div>

  <form
    id="contact-form"
    method="POST"
    action="https://submit-form.com/tiGG9tdx"
    name="myForm"
  >
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="surname" placeholder="surname"/>
    <input type="text" name="blank_id" placeholder="blank_id"/>
    <!--write a date picker-->
    <input type="text" name="role" placeholder="role"/>
    <input type="text" name="department" placeholder="department"/>
    <input type="text" name="store" placeholder="store"/>
    <input type="text" name="manager_id" placeholder="manager Id"/>
    <input type="email" name="email" placeholder="Email" />
    <input type="text" name="mobile" placeholder="mobile"/> <br/>

    <button type="submit" id="save">Save</button>
  </form>
</div>
